MSF_SERVER=10.0.0.2
MSF_PORT=55553
MSF_USER=msf
MSF_PASSWORD=xxxxxx
NESSUS_USERNAME=xxxxxx
NESSUS_PASSWORD=xxxxxx
NESSUS_HOST=10.0.0.2
NESSUS_PORT=8834
SCAN_NAME=Basic_Scan
SCAN_UUID=731a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65
SCAN_DESCRIPTION=none
SCAN_REPORT_DIR="nessus_scans_tmp/"
TARGETS=10.91.251.173,10.91.251.174
