MSF_SERVER=127.0.0.1
MSF_PORT=55701
MSF_USER=ares
MSF_PASSWORD=########
MSF_WORKSPACE_DEFAULT=ares_workspace_1
MSF_LHOST=192.168.1.124
MSF_LPORT=8080
NESSUS_USERNAME=ares
NESSUS_PASSWORD=########
NESSUS_HOST=localhost
NESSUS_PORT=8834
NESSUS_DEF_DIR="/opt/nessus/var/nessus/users/ares/files"
NESSUS_LOC_DIR="/home/ares/Documents/ares_repo/nessus_scans_tmp"
POSTGRES_USER=ares
POSTGRES_PASSWORD=########
POSTGRES_SERVER=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB_NAME=ares_database
SCAN_REPORT_DIR="/nessus_scans_tmp"
METRIC_FF_DIR="/home/ares/Documents/ares_repo/planning/metric_ff/"
PDDL_MODEL_DIR="/home/ares/Documents/ares_repo/planning/pddl_files/"
PDDL_DOMAIN_FILE="domain.pddl"
PDDL_PROBLEM_FILE="problem.pddl"
JAVAFF_PROBLEM_PATH="/home/ares/Documents/ares_repo/pddl_files/problem.pddl"
JAVAFF_PLAN_PATH="/home/ares/Documents/ares_repo/pddl_files/plan.txt"
JAVAFF_DIR="/home/ares/Documents/ares_repo/java_ff"
PORT_SCAN_ID="bbd4f805-3966-d464-b2d1-0079eb89d69708c3a05ec2812bcf"
FULL_SCAN_ID="731a8e52-3ea6-a291-ec0a-d2ff0619c19d7bd788d6be818b65"
